name: "Frogbot Scan"
on:
  pull_request:
    types: [opened, synchronize]
permissions:
  pull-requests: write
  contents: write
  security-events: write
jobs:
  frogbot-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: jfrog/frogbot@v2
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
