name: Frogbot Scan

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write
  contents: read

jobs:
  frogbot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Frogbot
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          JF_GIT_PROVIDER: github
        run: |
          curl -fLg "https://releases.jfrog.io/artifactory/frogbot/v2/LATEST/getFrogbot.sh" | sh
          ./frogbot scan-pull-requests
